<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p class="mustachio">DESCRIPTION</p>
    <p>
      Thanks for your interest in <i>co-incidence</i>. This year has been one of change and we have shifted with the
      times, in ways we are fairly excited about. So, our ‘application’ process will be a bit different. But before
      talking more about the application, let’s cover the basic structure of the festival.
    </p>
    <p>
      The Festival will be <b>in-person</b>: Nina Power, Luke Martin, and Aaron Foster Breilyn will be meeting in a
      space during the Festival dates (exercising safety precautions). You are welcome and encouraged to join us for any
      or all of the days of the Festival.
    </p>
    <p>
      The Festival will be <b>virtual</b>: we will be live video stream-chatting as much of the Festival as makes sense
      / as possible. We realize and expect that, for most, travel will simply be impossible or ill-advised.
    </p>
    <p>
      We are moving away from having ‘guest artists.’ Instead, we are simply asking, with the ‘application,’ for people
      to indicate interest and intent. In addition to activities led by Nina Power, we are asking for people to submit
      proposals for projects to take place during the Festival. We are also looking to find out if you would like to
      join the Festival virtually, in-person, or both. Ideally this would be for the entire duration, but it absolutely
      does not have to be. This has no bearing on whether or not you may join; rather, it will begin to trace the
      compositional modes and directions of the Festival itself. Please see below a more detailed explanation about the
      options for joining this January, at the <a class="page-scroll" href="#end">end</a>.
    </p>
    <p>
      NB: Generally speaking, feel free to simply indicate interest and decide for certain when it is reasonable for
      your situation, based on how things develop this fall. Just email and keep us in the loop. We appreciate knowing
      earlier, mainly due to space limitations on the in-person part, but we'll go with the flow, and it'll be just
      fine!
    </p>
<!--    <hr class="secondary">-->
    <p class="mustachio">
      WHAT DO YOU MEAN BY 'PROJECT'?
    </p>
    <p>
      The project is an experimental <i>activity</i> above all else. This is something we've done before in the
      Festival. The label 'activity' re-prioritizes the social, political, and ethical dimensions of a piece, whereas,
      for us, 'piece' highlights a kind of product or something with a certain expectation.
    </p>
    <p>
      An activity can be a score for sound making; it could be a score for listening. It can also be a discussion prompt
      about a particular topic. It can be an experimental mode of perceiving the flows of group dynamics. It can
      explicitly deal with race, gender, religion, power writ large. It can derive from a personal experience and
      directly tackle that. It can be a walk, reading together, listening together. It can be a prompt given to all the
      attendees which is completed ‘off screen,’ alone, or in little groups. It can be making dinner for some friends.
      Maybe it is something operating just below the ‘surface’ of things. For us, it investigates how we might
      experimentally practice 'doing other' or challenging or refusing or critiquing or ignoring the normative modes we
      exist within, reclaiming from neoliberalism the evacuated (or artificially filled) space of desire; how is it
      communizing?
    </p>
    <p>
      Ideally, both virtual and in-person people should be able to engage with your project. We're very flexible as to
      what that looks like. Please <i>don't</i> twist your conceptual orientation to make it awkwardly fit a 'hybrid'
      model. We are more interested in a great idea even if it is partially or entirely exclusionary.
    </p>
<!--    <hr class="secondary">-->
    <p class="mustachio">
      PROMPT(-ISH)
    </p>
    <p>
      As with the overall description for this year, we want to dialectically suspend, that is, to make hesitate and
      vibrate, the 'i' and the 'we'. To orient ourselves towards communing with one another, while rejecting the
      'necessary peace' of any State apparatus (in whatever form it may take). We reject, in this vein, the division
      between public and private, between politics (‘I'll obey for safety’) and morality (‘I have personal freedom to
      reason’), and instead propose we embrace the conflict(s) that streams diagonally throughout any being-together.
      Are we able to hold disagreements, even non-relations, in a space still oriented toward a world beyond our own?
      How do we speak truth while we’re still stuck in this one? How can/do we trust? How do we care for one another?
      How do we hope?
    </p>
    <p>
      We have been, to various degrees, seriously fucked up living in a world that operates as it does; we have baggage,
      we have flaws, we have odd beliefs and opinions intensely woven into our subjectivities. These cannot and should
      not be ignored or diluted: we ought to exist together, to be able to dwell, in the uncomfortable topography of
      those conflicts and pains, and remain open to change because of them. In fact, we ought to do more than exist
      together. It should feel something like friendship, or even love. Is it possible for us to see others (people,
      things, the earth, animals, etc) as an independent beings, to recognize them from a potential point of absolute
      separation, and then still work toward some kind of togetherness that rejects resolution|compromise?
    </p>
    <p>
      Thus, to reiterate in part our description on the <a href="/"> main page</a>, we’d like to think and practice
      together toward how a collection of <i>I</i>’s become a <i>we</i>? And, once there is a <i>we</i>, how does it
      maintain it’s <i>we</i>-ness without compromising all its members? How can we coalesce without unifying? Without
      rounding out the corners, without leaving behind certain essential parts of our beings? More formally, it is a
      question of how a heterogeneous group of multiplicities can organize as a collective subject. And, in a broad
      sense, it is a question of how to participate in change that would echo from the core of our very being.
    </p>
<!--    <hr class="secondary">-->
    <p class="mustachio">
      NOTE ABOUT MONEY
    </p>
    <p id="end">
      We’re doing our best to locate some funds to help people out. Due to the (extra) insanity of the world, we do not
      have a finalized budget, and thus any financial decisions will be a bit last minute and will depend on how many
      want to be involved. We will be aiming to provide (small) funds for: travel, payment for a project, and other
      things as needed.
    </p>
<!--    <hr class="secondary">-->
    <p class="mustachio">
      NOTE ABOUT VIRTUAL/IN-PERSON
    </p>
    <p>
      1. 'I would like to join virtually <b>without</b> a proposed project'
      <br>
      Your email will be added to an email list which will contain the links to the video chats and activities during the Festival. You are very much encouraged to participate in all discussions, activities, and so on -- the whole thing. We won't force you: if you want to sit back and listen, that's cool. But, the more the merrier!
    </p>
    <p>
      2. 'I would like to join virtually <b>with</b> a proposed project'
      <br>
      Same as above, but include a detailed description of your project. We will automatically add you to the email list for video sessions, activities, and so on. We will do our absolute best to include your proposal. This depends on how many we get, what we get, and time.
    </p>
    <p>
      3. 'I would like to join in-person <b>without</b> a proposed project'
      <br>
      Same as above, and just indicate you'd like to be there in-person. We'll put you on a list of in-person folks and keep you updated as to where and when we'll be.
    </p>
    <p>
      4. 'I would like to join in-person <b>with</b> a proposed project'
      <br>
      Same as (2), but you’ll be in-person.
    </p>
<!--    <hr class="secondary">-->
    <p class="mustachio">TIMELINE</p>
    <p><b>Open:</b> 8/10/2020</p>
    <p><b>Close:</b> 10/4/2020 11:59PM EST</p>
    <p><b>Notifications:</b> 10/11/2020</p>
  </div>
</div>
