<section>
  <div class="container">
    <div class="row text-center">
      <h1>
        admin section!
      <h1>
    </div>
  </div>
</section

<section>
  <div class="container">
    <% @coincidents.each do |coincident| %>
      <p>
        <%= coincident.name %>
      </p>
    <% end %>
  </div>
</section>