<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          ABOUT
        </h2>
        <hr class="primary">
        <p>
          Over coffee in Maine in the Summer of 2015,
          <span>
            <a href="http://www.lukecmartin.com/" target="_blank">
              Luke
            </a>
          </span>
          and
          <span>
            <a href="https://soundcloud.com/aaronfosterbresley" target="_blank">
              Aaron
            </a>
          </span>
           had a far too grandiose idea: "let's do our own music festival!" (Un)fortunately, they don't know when to stop. And here we are, with the co-incidence festival which kicked off its first season in January 2017. We wanted to fill a perceived gap in support for experimental composer/performers in the U.S. with a music festival focused on experimental music and built as an experimental composer might build a piece.
           <br />
           <br />
           You can check out our article in the
            <a href="http://www.bostonglobe.com/arts/music/2017/01/25/all-hands-deck-experimental-music-fest-somerville/41ygk4NGqSzHe72ir86v1I/story.html?s_campaign=bostonglobe%3Asocial%3Agoogleamp%3Asharetools" target="_blank">
              Boston Globe here
            </a>
            .
        </p>
        <br />
        <p>
          If you would like to support <i> co-incidence </i> please donate to <a href="http://nonevent.org/membership/" target="_blank"> Non-Event </a> and include a note that you'd like your funds to help with the festival. 
        </p>
        <br />
        <br />
      </div>
      <br />
      
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>Please feel free to reach out: <a href="mailto:coincidence.residency@gmail.com">coincidence.festival@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>