<section class="bg-primary" id="describe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- <h2 class="section-heading">
          ABOUT
        </h2> -->
        <p class="text-faded">
          <i>the co-incidence festival </i>is a gathering of experimental composer-performers hosted by Non-Event at Washington Street Gallery in Somerville, MA.
        </p>
        <hr class="light">
        <p class="text-faded">
          this project is based on an expanded view of what constitutes art, music, and the traditional concert. following the example of the revolutionary arts community Black Mountain College, it will bring together a group of radical artists operating in the boundary-zones of their practice to take part in a festival curated as ‘social sculpture.’ reflecting the values of experimental music, co-incidence will be allowed to grow organically, strongly influenced by the artists who attend: the directors simply provide a time, space, and loose framework. there will be encouraged but not required peer-to-peer meetings between artists in lieu of official lessons, the people attending will not be labeled as student or faculty.
        </p>
        <br />
        <!-- <p class="text-faded">
          The festival is tuition free. Housing and food are not provided (besides a welcome dinner, and all meals on Sunday the 29th). To offset this cost, we are giving a $400 stipend to each guest artist. We estimate housing and food costs to be between $500 and $600. Upon acceptance, we will assist as possible in finding accommodations and providing recommendation letters for grants.
        </p>
        <br />
        <p class="text-faded">
          We are accepting both domestic and international applications, and will consider applicants at any point in their career.
        </p>
        <br />
        <p class="text-faded">
          Please see a description of our collaborators, the application, and further details below.
        </p> -->

        <p class="text-faded">
          if you have any questions, please email us at: <a href="mailto:coincidence.festival@gmail.com">coincidence.festival@gmail.com</a>.
        </p>
        <br />
        <p class="text-faded">
            check out some media from our <a href="/2017-season">2017</a>,
            <a href="/2018-season">2018</a>
            or
            <a href="/2019-season">2019</a> season.
        </p>
        
      </div>
    </div>
  </div>
</section>