<section id="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          What will take place?
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          While most of this will be determined by the Artists, we do have a few 'fixed points' during the residency. Namely, three performances at Washington Street Art Center:
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="title">
          <h4>
            Welcome to Boston
          </h4>
        </div>
        <div class="date">
          <h5>
            Tuesday January 24th, 8 PM
          </h5>
        </div>
        <div class="text">
          This show will feature local Boston artists performing two new works by Boston-based experimental artists and one by co-incidence Resident Artist Michael Pisaro.
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="title">
          <h4>
            Once Far, Now Hear
          </h4>
        </div>
        <div class="date">
          <h5>
            Friday January 27th, 8 PM
          </h5>
        </div>
        <div class="text">
          This will feature (six) solo pieces/sets by all of the co-incidence Guest Artists. While we will get to know one another, and the local community, through other means throughout the residency, this provides a uniquely personal way to understand and be in contact with the co-incidence artists.
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="title">
          <h4>
            From Sunrise until Completion
          </h4>
        </div>
        <div class="date">
          <h5>
            Sunday January 29th, Sunrise (~6 AM)
          </h5>
        </div>
        <div class="text">
          This show will last from sunrise until completion and feature new works by the Guest Artists, Resident Artist, and Directors, performed by the co-incidence ensemble (Guest Artists, Resident Artist, and Directors). These works will have been workshopped and critiqued throughout the week. Breakfast, Lunch, and Dinner will be provided at Washington Street Art Center during the show.
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          In addition to these events, the co-incidence artists will be at Washington Street Art Center morning, afternoon, and evening, rehearsing works and discussing relevant (or not) topics together. All of this, with the exception of the performances, provides a flexible framework that can be altered during the residency by the artists as they (we) see fit.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          Video/audio recordings and photographs of all performances will be provided, in addition to captured moments of the Residency.
        </p>
      </div>
    </div>
  </div>
</section>