<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">
        (the) co-incidence residency
      </h1>
      </hr>
      <p>
        an experimental music gathering in Somerville, MA, January 24 - 30 2017
      </p>
    </div>
  </div>
</header>