<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">
        (the) co-incidence residence
      </h1>
      </hr>
      <p>
        a new-music gathering in Summerville, January 24-30 2017
      </p>
    </div>
  </div>
</header>