<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">
        (the) co-incidence festival
      </h1>
      </hr>
      <p id="homeSubHeader">
        an experimental music gathering in Somerville, MA
      </p>
    </div>
  </div>
</header>