<section id="intro2021">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2021 SEASON
        </h2>
        <h5>
          part 1: january 14-17, 2021 (all virtual)
        </h5>
        <h5>
          part 2: summer, 2021 (in-person & virtual)
        </h5>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h4>UPDATE</h4>
        <p>
          we will have a condensed and introductory event in january 2021, which will last four days and be entirely
          virtual. this will be followed by the full festival, in-person, for ten days in the summer (details to come in
          the spring). people are invited to attend any and all events in both january and the summer!
        </p>
        <br>
        <hr class="tertiary"/>
        <br>
        <br>
      </div>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <h5>
          PART ONE: JANUARY
        </h5>
        <p>
          the january events are hosted on the <a href="https://discord.com/">Discord</a> platform. it can be accessed
          on your browser or (better) downloaded to your computer or phone. an invite-link is required to enter the
          Co-Incidence server: if you would like to attend any events, please
          <a href="mailto:coincidence.festival@gmail.com?subject=Access to Discord Server">email us</a>.
        </p>
        <p>
          the events consist of a mixture of discussions, rehearsals, performances, games, and hangs. people are welcome
          to watch and listen, and/or join for any of them! most events correspond to projects people have proposed for
          the festival. please see the schedule below for details and a brief description of each project. for the
          festival, this is an opportunity to test out ideas, experiment with pieces, and open discussions -- all of
          which will continue during the summer portion of the festival.
        </p>
        <p>
          <a href="https://docs.google.com/spreadsheets/d/1czD2BfkALwQyAxwigYQqBS5JvOAP34atTQDj1PaLOk8/edit?usp=sharing"
            target="_blank"
          >
            SCHEDULE
          </a>
          ||
          <a href="2021-season">EVENTS & THEME</a>
        </p>
        <br>
        <hr class="tertiary">
      </div>
    </div>
  </div>
</section>
