<section id="intro2017">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2017 SEASON
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <p class="">
          During the 2017 Co-Incidence Festival, each of the invited artists proposed and brought a work specifically composed for the festival to be presented to the group for critique, discussion, rehearsal, and, finally, performance. There was a variety in the styles and types of pieces, and the discussions often focused upon ideas of composition, social interactions, listening, and performance practice. Community members participated, some for bits and pieces, and others for the entire festival (which was completely open to the public).
        </p>
        <p>
          The sessions took place across four days, beginning at 10 AM and going late into the evenings, and culminated in a final marathon-concert on Sunday. On top of being entirely free (from no-tuition to free events) and providing a modest stipend to the artists, we strived to create a space were power dynamics were fluid; in other words, the course of the Festival could shift, per group consensus, at any time. The Directors, Resident Artist, and Guest Artists all participated in full, and were given equal space to critique, present, and learn. Roles shifted throughout the week: where at times the Resident Artist assumed the role of the experienced ‘teacher’, at others a community member took the lead and everyone learned from them, or at other moments the group decided to alter decisions made by the Directors.
        </p>
        <p>
          This flow, approaching a more non-hierarchical situation, was extremely important to us in developing the Festival, and we expect it to continue to improve from year-to-year.
        </p>
        <hr class="primary">
        <p>
          You can read more about out festival in the 
          <a href="http://www.bostonglobe.com/arts/music/2017/01/25/all-hands-deck-experimental-music-fest-somerville/41ygk4NGqSzHe72ir86v1I/story.html?s_campaign=bostonglobe%3Asocial%3Agoogleamp%3Asharetools" target="_blank">
            Boston Globe
          </a>
          .
        </p>
      </div>
    </div>
  </div>
</section>