<section id="intro2020">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2020 SEASON
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
         <p class="">
          the fourth season of the co-incidence festival will take place from january 10—18, 2020, at Washington Street Art Center in Somerville, MA. as with the past years, the overarching goal of the festival is to bring together experimental composers/performers/artists to focus on collaboration, critical discussion, workshopping, and performance. the festival is directed by experimental composer/performers aaron foster breilyn and luke martin and will feature Resident Artist: John Holloway.
        </p>
        <p>
          this festival is a conscious instance of composition as social practice. we hope that this act and ethos becomes even further developed during the course of our work together. ultimately, we hope that this becomes a truly special week of collaboration, discussion, performance, and composition; one in which we can form lasting and caring relationships, establish practical tactics with which we can hone our daily practices and challenge structures of capital, and investigate radically alternative modes of being, thinking, and relating.
        </p>
        <br />
        <br />
        <br />
        <br />
        <hr class="tertiary">
        </div>
      </div>
    </div>
  </div>
</section>
