<section id="intro2019">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          ANNOUNCING OUR 2019 SEASON!
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <p class="">
          The third season of the `co-incidence festival` will take place from January 11—20, 2019, at Washington Street Art Center. Performances will take place throughout the week in Union Square, Somerville, as part of the Somerville Arts Council's ArtsUnion program. As with last year, the overarching goal of the festival is to bring together experimental composer/performers/artists to focus on collaboration, critical discussion, workshopping, and performance. In 2019, this will last 8 full days (not including arrival and departure days). The festival is directed by experimental composer/performers aaron foster breilyn and luke martin.
        </p>
        <p>
          Though we have general conceptual areas that we would like to explore during the festival, we are open (and eager) to expand from there and allow the attending artists' constellations of concepts to influence the direction of the festival.
        </p>
        <p>
          We are extremely pleased to announce that <a href="https://e4773098889037.tumblr.com/" target="_blank">Sarah Ayotomiwa Pitan</a> will be our Resident Artist for 2019. This position was held by Michael Pisaro in 2017, Joachim Eckl in 2018, and we could not be more excited to bring yet another important perspective and artistic focus to the festival.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr class="tertiary">
        <!-- <p> Timeline: </p>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 text-left">
            <ul>
              <li>
                <b>September 1</b> - Applications Open
              </li>
              <li>
                <b>October 29</b> - Applications Close
              </li>
              <li>
                <b>November 6</b> - Results Sent
              </li>
              <li>
                <b>Mid-November</b> - Guest Artists Announced
              </li>
              <li>
                <b>January 19-28, 2018</b> - Festival
              </li>
            </ul> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>