<section id="intro2018">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          OUR 2018 SEASON!
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <p class="">
          The third season of the `co-incidence festival` took place from  January 19—28, 2018, at Washington Street Art Center. Performances took place throughout the week in Union Square, Somerville, as part of the Somerville Arts Council's ArtsUnion program. As with the prior year, the overarching goal of the festival was to bring together experimental composer/performers/artists to focus on collaboration, critical discussion, workshopping, and performance. In 2018, this lasted 8 full days (not including arrival and departure days). The festival was directed by experimental composer/performers aaron foster breilyn and luke martin.
        </p>
        <p>
          Though we had general conceptual areas that we wanted to explore during the festival, we were (and eager) to expand from there and allow the attending artists' constellations of concepts to influence the direction of the festival.
        </p>
        <p>
          We were extremely pleased to have interdisciplinary artist / ‘social engineer’ <a href="http://www.heimart.at/index.php/joachim-eckl.html" target="_blank">Joachim Eckl</a> as our Resident Artist for 2018 to bring his important perspective and artistic focus to the festival.
        </p>
        <!-- <br />
        <hr class="tertiary">
        <br />
        <p> Timeline: </p>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3 text-left">
            <ul>
              <li>
                <b>September 1</b> - Applications Open
              </li>
              <li>
                <b>October 29</b> - Applications Close
              </li>
              <li>
                <b>November 6</b> - Results Sent
              </li>
              <li>
                <b>Mid-November</b> - Guest Artists Announced
              </li>
              <li>
                <b>January 19-28, 2018</b> - Festival
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>