<% if @coincidentTroi %>
<div class="notification">
  <br />
  <br />
  <br />
  <br />

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <p class="text-faded"
          style="padding-bottom: 15px;"
        >
          Application for <span class="reddish"><%= @coincidentTroi.name %></span> has been successfully submitted!
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>