<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          COLLABORATORS
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h4>
            Hosted by
          </h4>
          <div class="details-pic washingtub-pic">
            <%= image_tag asset_url("washingtub.jpg") %>
          </div>
          <p class="text-muted partner-link">
            <a href="http://washingtonst.org/">
              Washington Street Gallery
            </a>
          </p>
          <p>
            Washington St. is home to 20 artists who work in a broad range of media. From sculpture to paper cutting, painting to book binding and everything in between - the collaborative houses a cornucopia of creatives from many different backgrounds. With its own photo lab, Washington St. also hosts photography members who share the darkroom and photo studio.​ Additionally, Washington St. has served for many years as an experimental music venue, directed by composer/performers Michael Rosenstein, Jesse Collins, and Morgan Evans-Weiler.​
          </p>
          --
          <p>
            <a href="https://drive.google.com/drive/folders/0B_0ZEgSpOR3uaE9GWFpSU0wzNmM?usp=sharing"> 
              Pictures of the space.
            </a>
          </p>
          <!-- --
          <p>
            From
            <a href="http://www.wandelweiser.de/_michael-pisaro/texts.html#HIT_OR_MISS"> 
              Hit Or Miss
            </a> -->
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h4>
            In Partnership with
          </h4>
          <div class="details-pic">
            <%= image_tag asset_url("non-event.jpg") %>
          </div>
          <p class="text-muted partner-link">
            <a href="http://nonevent.org/">
              Non-Event
            </a>
          </p>
          <p>
            Non-Event is a Boston-based concert series devoted to the presentation of the finest in experimental, abstract, improvised, and new music from New England and around the world. Founded in 2001, Non-Event has presented over 260 concerts in and around Boston in a wide variety of venues from coffee shops, galleries, and loft spaces to former movie palaces, university lecture halls, museums, night clubs, 19th-century ballrooms, a Victorian-era pumping station, and inside Boston's iconic City Hall. In addition to working with numerous venues and organizations over the past 15 years, Non-Event organizes a longstanding series of informal monthly coffee house concerts featuring local musicians and sound artists, held at Café Fixe in Brookline and made possible in part by the Brookline Commission for the Arts.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h4>
            Resident Artist
          </h4>
          <div class="details-pic">
            <%= image_tag asset_url("joachim.jpg") %>
          </div>
          <p class="text-muted partner-link">
            <a href="/joachim">
              Joachim Eckl
            </a>
          </p>
          <p>
            Based in Austria, Joachim Eckl was brought up in Haslach on the Große Mühl river. Joachim Eckl’s work is based on an extended understanding of art which is substantially inspired by Joseph Beuys’ term ‘social sculpture’. Eckl generates impulses for social sculptures through the creation of joint experiences. He regards himself as a ‘social engineer’. Water also plays a central role in this work: he understands and uses it as basic element of human interaction. Eckl currently works as a freelance artist under the label HEIM.ART® and runs “Die Station—Neufelden”, a former warehouse on the Große Mühl, as an art space.
          </p>
          --
          <p>
            <a href="/joachim">
              Read More
            </a>
          </p>
          <!--
          <p>
            From
            <a href="http://www.heimart.at/index.php/joachim-eckl.html"> 
              Bio / Site
            </a>
          </p>
          -->
        </div>
      </div>
    </div>
  </div>
</section>