<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          SELECTED MEDIA
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <p>
          Please go check out all of our other music on our <a href="https://www.youtube.com/channel/UC9egQPNlTDLl_kZ36Sl2X3A" target="_blank"> YouTube </a> or our <a href="https://thecoincidencefestival.bandcamp.com/" target="_blank"> bandcamp </a>.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="container">
    <div class="row text-center"
      styles="height: 350px;">
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/-CrtPjA3Nv0" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/embed/-CrtPjA3Nv0" target="_blank">
          <h3>
            Proposal Eight
          </h3>
        </a>
        <b>Ryoko Akama</b>
        <p style="margin-bottom: 0;">
          Finale Concert
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/track/ryoko-akama-proposal-eight" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>
      
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/R9Avs5qSOaA" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/embed/R9Avs5qSOaA" target="_blank">
          <h3>
            Rain
          </h3>
        </a>
        <b>Annelyse Gelman</b>
        <p style="margin-bottom: 0;">
          Finale Concert
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/track/annelyse-gelman-rain" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/-Q7iIzeGH2g" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=-Q7iIzeGH2g" target="_blank">
          <h3>
            Collecting Breathe
          </h3>
        </a>
        <b>Joachim Eckl</b>
        <p style="margin-bottom: 0;">
          Finale Concert
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/track/joachim-eckl-collecting-breath" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>
    </div>

    <br />
    <br />
    <div class="row text-center"
      styles="height: 350px;">
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/0JXLW3XSwkI" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=0JXLW3XSwkI" target="_blank">
          <h3>
            Welcome Concert
          </h3>
        </a>
        <b>Joachim Eckl, Marilyn Arsem, Sarah Ayotomiwa Pitan, Jennie Gottschalk</b>
        <p style="margin-bottom: 0;">
          
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/album/welcome-concert-2018-artifacts" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/h2jC5zL4ZNQ" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=h2jC5zL4ZNQ" target="_blank">
          <h3>
            Dynamic Listening Instrument set to Union Square
          </h3>
        </a>
        <b>Cal Fish</b>
        <p style="margin-bottom: 0;">
          Finale Concert
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/track/cal-fish-dynamic-listening-instrument-set-to-union-square" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>

      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/wwei_x09Kdg" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=wwei_x09Kdg" target="_blank">
          <h3>
            Amethyst Triangle
          </h3>
        </a>
        <b>Amy Golden</b>
        <p style="margin-bottom: 0;">
          Finale Concert
        </p>
        <p>
          <a href="https://thecoincidencefestival.bandcamp.com/track/amy-golden-amethyst-triangle" target="_blank" class="reddish">
            listen
          </a>
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="col-lg-12">
      <div class="row text-center">
        <div class="col-lg-12">
          <h3>Or you can check out our full 2018 concerts</h3>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-lg-4 col-lg-offset-2">
          <a href="https://thecoincidencefestival.bandcamp.com/album/welcome-concert-2018-artifacts" class="cd-links reddish" target="_blank">
            Welcome Concert (Artifacts)
          </a>
        </div>
        <div class="col-lg-4">
          <a href="https://thecoincidencefestival.bandcamp.com/album/finale-concert-2018" class="cd-links reddish" target="_blank">
            Finale Concert
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>
