<!-- 

personel SECTION 

<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          SCHEDULE
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          While the schedule is flexible and will vary day to day, here are some general guidelines. Please feel free to join in!
        </p>
        <ul style="padding-left: 0; ">
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              10am - 12:30pm :: session 1
            </h4>
          </li>
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              1:30pm - 4pm :: session 2
            </h4>
          </li>
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              430pm and on :: extra rehearsal(s)
            </h4>
          </li>
        </ul>
        <p>
          During each session one of the guest artists will be presenting their work (which will be performed on Sunday the 29th during the 'From Sunrise until Completion' concert) as well as leading a conversation on a topic of their choosing. 
        </p>
        <p>
          Be sure to follow us on <a href="https://www.facebook.com/coincidenceresidency" target="_blank">FaceBook</a> for updates!
        </p>
        <p>
          You can find the scores to all the pieces that will be workshopped and performed on our <a href="https://drive.google.com/drive/u/3/folders/0BxxfI60noM-6c25VT3NJUUJQR3M" target="_blank">Google Drive</a>. You can also find the program for Sunday's concert <a href="https://drive.google.com/file/d/0B_0ZEgSpOR3uc3dYMlZtWFh3OFE/view" target="_blank"> here </a>.
        </p>
        <br />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-3">
        <h4>
          25th: Wednesday
        </h4>
        <div class="text">
          Michael Pisaro
        </div>
        <div class="text">
          Ben Levinson
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          26th: Thursday
        </h4>
        <div class="text">
          Chris Williams
        </div>
        <div class="text">
          Carolyn Chen
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          27th: Friday
        </h4>
        <div class="text">
          Sarah Pitan
        </div>
        <div class="text">
          Elizabeth A. Baker
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          28th: Saturday
        </h4>
        <div class="text">
          Michael Bullock
        </div>
        <div class="text">
          Cindy Giron
        </div>
      </div>
    </div>
  </div>
</section>

-->

<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          WHO WILL ATTEND?
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul>
          <li>
            <p>
              Six Guest Artists, (to be) determined via application
            </p>
          </li>
          <li>
            <p>
              One Resident Artist, determined via Directors' invitation: TBA
            </p>
          </li>
          <li>
            <p>
              Two Co-Directors: Aaron Foster Bresley and Luke Martin
            </p>
          </li>
          <li>
            <p>
              The Community: this festival is entirely open-door. Members of the community are welcome to join us for meals, workshops, discussions, performances, rehearsals, etc.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
