<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          SELCECTED MEDIA
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <p>
          Please go check out all of our other music on our <a href="https://www.youtube.com/channel/UC9egQPNlTDLl_kZ36Sl2X3A" target="_blank"> YouTube </a> or our <a href="https://soundcloud.com/co-incidence-festival" target="_blank"> soundCloud </a>.
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/dYARbjlU7CY" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=dYARbjlU7CY" target="_blank">
          <h3>
            Beings, Heat and Cold (Part II)
          </h3>
        </a>
        <b>Michael Pisaro</b>
        <p>
          Sunday,
          All-Day Performance
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/efhLWh0GQzg" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=efhLWh0GQzg" target="_blank">
          <h3>
            In 1839 it was considered elegant to take a tortoise out walking
          </h3>
        </a>
        <b>Carolyn Chen</b>
        <p>
          Sunday,
          All-Day Performance
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/_VzMXRXCl9E" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=_VzMXRXCl9E" target="_blank">
          <h3>
            Untitled
          </h3>
        </a>
        <b>Sarah Pitan</b>
        <p>
          Friday, Guest Artist Showcase Performance]
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row text-center">
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/50dz695QRq0" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=50dz695QRq0" target="_blank">
          <h3>
            Forever Moving Lines
          </h3>
        </a>
        <b>Chris Williams</b>
        <p>
          Sunday,
          All-Day Performance
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/D7ns97wevaY" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=D7ns97wevaY" target="_blank">
          <h3>
            Constructed Objects
          </h3>
        </a>
        <b>Morgan Evans-Weiler</b>
        <p>
          Tuesday, Welcome to Boston Concert
        </p>
      </div>
      <div class="col-lg-4">
        <iframe width="280" height="158" src="https://www.youtube.com/embed/clt-s-E0XKY" frameborder="0" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=clt-s-E0XKY" target="_blank">
          <h3>
            Inhabit (for PO)
          </h3>
        </a>
        <b>Mike Bullock</b>
        <p>
          Sunday,
          All-Day Performance
        </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>


<!-- 

personel SECTION 

<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          SCHEDULE
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          While the schedule is flexible and will vary day to day, here are some general guidelines. Please feel free to join in!
        </p>
        <ul style="padding-left: 0; ">
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              10am - 12:30pm :: session 1
            </h4>
          </li>
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              1:30pm - 4pm :: session 2
            </h4>
          </li>
          <li style="list-style-type: none; ">
            <h4 style="color: #F05F40 !important;">
              430pm and on :: extra rehearsal(s)
            </h4>
          </li>
        </ul>
        <p>
          During each session one of the guest artists will be presenting their work (which will be performed on Sunday the 29th during the 'From Sunrise until Completion' concert) as well as leading a conversation on a topic of their choosing. 
        </p>
        <p>
          Be sure to follow us on <a href="https://www.facebook.com/coincidenceresidency" target="_blank">FaceBook</a> for updates!
        </p>
        <p>
          You can find the scores to all the pieces that will be workshopped and performed on our <a href="https://drive.google.com/drive/u/3/folders/0BxxfI60noM-6c25VT3NJUUJQR3M" target="_blank">Google Drive</a>. You can also find the program for Sunday's concert <a href="https://drive.google.com/file/d/0B_0ZEgSpOR3uc3dYMlZtWFh3OFE/view" target="_blank"> here </a>.
        </p>
        <br />
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-3">
        <h4>
          25th: Wednesday
        </h4>
        <div class="text">
          Michael Pisaro
        </div>
        <div class="text">
          Ben Levinson
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          26th: Thursday
        </h4>
        <div class="text">
          Chris Williams
        </div>
        <div class="text">
          Carolyn Chen
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          27th: Friday
        </h4>
        <div class="text">
          Sarah Pitan
        </div>
        <div class="text">
          Elizabeth A. Baker
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>
          28th: Saturday
        </h4>
        <div class="text">
          Michael Bullock
        </div>
        <div class="text">
          Cindy Giron
        </div>
      </div>
    </div>
  </div>
</section>



<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          WHO WILL ATTEND?
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul>
          <li>
            <p>
              Six Guest Artists, (to be) determined via application
            </p>
          </li>
          <li>
            <p>
              One Resident Artist, determined via Directors' invitation: TBA
            </p>
          </li>
          <li>
            <p>
              Two Co-Directors: Aaron Foster Bresley and Luke Martin
            </p>
          </li>
          <li>
            <p>
              The Community: this festival is entirely open-door. Members of the community are welcome to join us for meals, workshops, discussions, performances, rehearsals, etc.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
-->