<section id="who">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          WHO WILL ATTEND?
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul>
          <li>
            <p>
              Six Guest Artists, (to be) determined via application
            </p>
          </li>
          <li>
            <p>
              One Resident Artist, determined via Directors' invitation: Michael Pisaro
            </p>
          </li>
          <li>
            <p>
              Two Co-Directors: Aaron Foster Bresley and Luke Martin
            </p>
          </li>
          <li>
            <p>
              The Community: this residency is entirely open-door. Members of the community are welcome to join us for meals, workshops, discussions, performances, rehearsals, etc.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

