<section>
  <div class="faq-2020">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            Some things to know about the festival:
          </h2>
          <hr class="primary">
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-left">
            <ul class="faq-ul">
              <li class="mb-15">
                - It is run solely by luke & aaron. Please curb your expectations appropriately! We are supported by some
                amazing members of the community (friends, Non-Event, mobius, Washington Street Art Center, etc.); but
                99% of things will be done by one of us.
              </li>
              <li class="mb-15">
                - We provide a stipend to all Guest Artists. In past years we have been able to provide between $500-1000
                per person. We won’t know our budget fully until closer to the Festival dates, but it is safe to assume
                at least $500 of support.
              </li>
              <li class="mb-15">
                - The Festival is January 10-19, 2020. Friday the 10th is an arrival day, with a Welcome Concert at night.
                Sunday the 19th is a departure day
              </li>
              <li class="mb-15">
                - Most of the festival will take place at Washington Street Art Center in Somerville, MA. It’s a gallery
                space used for experimental music concerts, art openings, and such. It is a small-ish open space with
                some tables and chairs, and a couple of bathrooms. It is very DIY: no frills. It’s our ‘home’ and is
                much loved by us and the community.
              </li>
              <li class="mb-15">
                - We provide coffee each morning. Lots of restaurants and snacky things near the space if you require more
                than coffee for sustenance.
              </li>
              <li class="mb-15">
                - We cannot provide housing. There are plenty of house/room sharing apps that work well in the area. In
                past years we have attempted to arrange homestays, but this is never guaranteed. We’ll do our best to
                help should the need arise.
              </li>
              <li class="mb-15">
                - We are not interested in producing anything specific or ‘of value’ (as determined by any outside source)
                during the festival. We are serious, intense, and dedicated to the work that will be done, but we are
                absolutely unconcerned with what the results will be. There is no requirement for a final
                project/thesis/concert etc. as to force such a thing to occur would cheapen the open and dynamic
                experience of the festival.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>