<section id="joachim-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          JOACHIM ECKL (2018 Resident Artist)
        </h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <p class="">
          Joachim Eckl lives and works in Unternberg near Neufelden at the river Große Mühl which is situated in the Mühlviertel, an area steeped in history and of powerful nature. His ancestors were millers working in the Berndlmühle upstream in Aigen-Schlägl. Through generations the family obtained power and energy from the Große Mühl. At first the energy was used to grind grain in the mills; after that for generating power in the power station. In 1902, his great-grandfather erected the first hydroelectric power station at the Große Mühl to “bring light to town”.
        </p>
        <p>
          Joachim Eckl was born and brought up in 1962 in Haslach on that river. The relation to his country and culture as well as the local particularities became important for Eckl after his returning from studying in New York in 1989. His commitment and work is based on the conviction and knowledge that the achievements of the 20th century entailed progress but also an immoderate carelessness: for Eckl, the time has come to return something to the river and the region. After his studies of psychology in Austria and New York, Eckl has worked for over 20 years in various positions and roles in the art world. In parallel to the realization of over 100 of his own projects, he was part of the implementation of the large-scale projects of Tony Cragg, Jeff Koons, Christo & Jean Claude, and Klaus Rinke. Eckl currently works as a freelance artist under the label HEIM.ART® in “Der Station—Neufelden” and as part of international projects. Run by Eckl, “Die Station—Neufelden”, the former warehouse on the Große Mühl, has been used as an art space for over 10 years. 
        </p>
        <p>
          Joachim Eckl’s work is based on an extended understanding of art which is substantially inspired by Joseph Beuys’ term ‘social sculpture’. Eckl generates impulses for social sculptures through the creation of joint experiences. He regards himself as a ‘social engineer’. Water plays a central role in this work: Eckl understands and uses it as basic element of human interaction. His project river to river currently brings together rivers and people from all over the world, generating social warmth. In the years 2008—2009, he realized projects in Austria, the Czech Republic, Germany, Great Britain, Egypt, Zambia, and Zimbabwe.
        </p>
        <hr class="primary">
        <p>
          One of the most expansive projects undertaken by Eckl is “Brëckenschlag - Donau - Schöpfung” / “Draw the Danube - Build a Bridge”. Below is his brief concept description:
        </p>
        <p>
          “From its origin in the Black Forest to the end of its journey in the Black Sea, the Danube river flows for more than 2880 km (roughly 1740 miles) and traverses ten European states. Drawing 'stations' will be set up every 10 kilometers along the entire course of the river. On August 17th, 2018, at a specific time and for one hour, around 2000 people gathered at these 280 stations will collect water into containers, about 1000 liters per drawing station. Filling the containers will take about as long as it would take the water to flow from one station to the next, thus capturing an instant of the entire river course in one single collective action of awareness. The water extracted from the river will be collected in the 'DanubeTrain' set up in Linz at the Donaulände park. This convoy will then travel upriver to Donaueschingen, where the 280 water containers will be combined into a well from which the drawn water will flow for six days until all of it has returned to the river—and with it the creative energy of all the people that participated in this project. The social sculpture Draw the Danube - Build a Bridge brings together people from the most diverse cultures, acting freely and collectively in a border-crossing project. The communal contact with the river, with water, arouses man's primal relationship with nature.”
        </p>
      </div>
    </div>
  </div>
</section>