<section id="intro2021">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h4>
          events & descriptions (in no particular order)
        </h4>
        <br>

        <p><b>Annelyse Gelman </b></p>
        <p>
          Introduction of an ongoing piece about the weather.

        <hr>
        <p><b>James Creed </b></p>
        <p>
          Introduction and rehearsal of various pieces, including 'The Hollies, For Example' for performance on a
          virtual concert Sunday the 17th. Scores of pieces <a
          href="https://onedrive.live.com/?authkey=%21AK068pAbYP4xdn0&id=90FAA35E932B46AE%217092&cid=90FAA35E932B46AE"
          target="_blank">here</a>. Any are welcome to join or listen. </p>
        <hr>

        <p><b>James Falzone </b></p>
        <p>
          Introduction and rehearsal of a new piece, 'Stance and Happenstance', for virtual performance on Sunday. Any are welcome to join or listen. </p>
        <hr>

        <p><b>Cassia Streb </b></p>
        <p>
          Introduction and discussion of an ongoing piece based on a previous piece "The Mueller Tunnel", focusing on
          topics of memory, and change. Any are welcome to join or listen. </p>
        <hr>

        <p><b>Nina Power </b></p>
        <p>
          Open discussions about various topics determined by Nina intersecting with her research, politics, the
          festival projects, and the ethics of the festival itself.
        </p>

        <hr>
        <p><b>Ryan Wade Ruehlen </b></p>
        <p>
          “The Weight Of Falling Sand” , 2021
          Inspired by particles of dirt that fell, and quietly resonated, onto cymbals standing under air vents.
          Ruehlen’s interest in the coalescing of manual labor and concentrated listening formed the initial experience
          into a performance where the individual, and anyone who wishes to participate, slowly empty a sandbag onto a
          cymbal, or resonant metal of domestic or industrial origin. Participants can fill the bag where they are able
          to gather soil, sand, loess, ice, snow, or cement detritus.
        </p>
        <hr>
        <p><b>Masaya Ozaki </b></p>
        <p>
          I often think about how I tend to withdraw into my own world, a monologue inside my head heard only by myself,
          or perhaps by my closest friends, family, or community. Yet, it is just a bubble. The Internet and technology
          had the potential to break it, but in reality the opposite happened. Social media shows us the things we want
          to hear, we read the news that we want to believe, we follow and listen to the people that have the same
          opinions as us. The world is getting smaller and simpler. It is considered to be efficient and good. It is
          comfortable to listen to the opinions of people like us, but it only perpetuates division. This is an
          experiment on breaking the bubble.
        </p>
        <hr>
        <p><b>Anne LoVerso </b></p>
        <p>
          A group will come together to play a worldbuilding game, to design and imagine a better future. All will
          participate in creating what this future looks like and how the story unfolds. How do we define "better"? What
          rules do we set for ourselves? What do we do when someone disagrees - in-game or out-of-game? What do we do
          under pressure? We won't just talk about it - we will play it out as a group collectively.
        </p>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h4>
          What does it mean to be a we?
        </h4>
        <br>
        <p>
          In our current capitalist system, the cracks of which are showing more and more, the pressure is to be an I. I
          have a job. I make art. I think. I vote. But there are others who think that the way forward involves not the
          singular, but the collective, or collections of people.
        </p>
        <p>
          But how do a collection of I’s become a we? Surely not through unification (sameness). We are all different.
          While we might have similarities or be in agreement, there is no one unifying idea that can stand up against
          the strength of the cultural pressure to be I. And, once there is a we, how does it maintain it’s we-ness
          without compromising all its members?
        </p>
        <p>
          How can we coalesce without unifying? Without rounding out the corners, without leaving behind certain
          essential parts of our beings? How can we come together as a group of flawed humans who each would like very
          much to ignore or leave behind said flaws? More formally, it is a question of how a heterogeneous group of
          multiplicities can organize as a collective subject. And, in a broad sense, it is a question of how to
          participate in change that would echo from the core of our very being. To identify this point of change is to
          locate and incorporate that which appears undecidable and indiscernible into our world. To realize the
          collective subject is to suggest an impossible hypothesis as true, to wager, and in wagering to radically
          hope, on a future and world beyond this one.
        </p>
        <p>
          This year at co-incidence, joined by resident artist Nina Power, we will interrogate this idea of groups, of
          we’s. During our time together at the festival, what mirrors can we hold to ourselves that don’t just show us?
          What might this world beyond look like and how can we experiment toward it; how can we begin to listen to that
          which is radically unhearable?
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <hr class="tertiary"/>
        <br>
        <p>schedule can be found
          <a href="https://docs.google.com/spreadsheets/d/1czD2BfkALwQyAxwigYQqBS5JvOAP34atTQDj1PaLOk8/edit?usp=sharing"
             target="_blank"
          >
            here
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
