.details-pic {
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  img {
    height: 100%;
  } 
}

#details, #who, #about {
  background-color: #eee;
}

#who {
  background-color: white;
}

#application, #guest-artists {
  background-color: #337ab7;
}

h4 {
  color: #F05F40 !important;
  margin-bottom: 5px !important;
}

.reddish {
  color: #F05F40 !important;
}

h5 {
  margin-top: 0 !important;
}

.partner-link {
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: underline;
}

.washingtub-pic {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.sorry {
  color: #bb0000
}

.small-text {
  font-size: 13px
}

.m-5-top {
  margin-top: 5px;
}

.fugu-width {
  width: 60px
}

.my-text-box {
  width: 100% !important;
  height: 120px !important;
  resize: none;
}

.btn-fugu {
  background-color: #F05F40 !important;
  color: white;
}

.text-faded {
  a {
    color: white;
  }
}

.guest-artist-img {
  text-align: center;
  img {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F05F40;
  }
}

/* why doesn't bootstrap have a class for this already? */
.centered-xs {
  @media (min-width: 769px) {
    text-align: inherit;
  };
  @media (max-width: 768px) {
    text-align: center;
  };
}

.guest-artists {
  .text-faded {
    font-size: 14px;
    line-height: 18px;
  }

  a{
    color: #222;
  }
}

.guest-artist-row {
  // margin-bottom: 65px;
}

.secondary {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: #222;
}

.guest-link {
  color: red;
}

#who {
  h4 {
    color: #222222 !important;
  }
}

.business-logo {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  img {
    height: 100%;
  }
}