.details-pic {
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  img {
    height: 100%;
  } 
}

#details, #who, #about {
  background-color: #eee;
}

#who {
  background-color: white;
}

#application, #guest-artists {
  background-color: #337ab7;
}

h4 {
  color: #F05F40 !important;
  margin-bottom: 5px !important;
}

.reddish {
  color: #F05F40 !important;
}

h5 {
  margin-top: 0 !important;
}

.partner-link {
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: underline;
}

.washingtub-pic {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.sorry {
  color: #bb0000
}

.small-text {
  font-size: 13px
}

.m-5-top {
  margin-top: 5px;
}

.fugu-width {
  width: 60px
}

.my-text-box {
  width: 100% !important;
  height: 120px !important;
  resize: none;
}

.btn-fugu {
  background-color: #F05F40 !important;
  color: white;
}

.text-faded {
  a {
    color: white;
  }
}

.guest-artist-img {
  text-align: center;
  img {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F05F40;
  }
}

/* why doesn't bootstrap have a class for this already? */
.centered-xs {
  @media (min-width: 769px) {
    text-align: inherit;
  };
  @media (max-width: 768px) {
    text-align: center;
  };
}

.guest-artists {
  .text-faded {
    font-size: 14px;
    line-height: 18px;
  }

  a{
    color: #222;
  }
}

.guest-artist-row {
  // margin-bottom: 65px;
}

.secondary {
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: #222;
}

.guest-link {
  color: red;
}

#who {
  h4 {
    color: #222222 !important;
  }
}

.business-logo {
  height: 50px;
  margin-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block;
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 100%;
  }
}

#intro2018 {
  background: #fff;
}

.tertiary {
  border-color: #F05F40;
}

.my-text-area {
  width: 100% !important;
  height: 100px !important;
  resize: none;
}

.form2 {
  width: 100% !important;
}

.eventUl {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    p {
      font-size: 12px;
    }
  }
}

.eventWhen {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 12px;
}

.eventDescription {
  text-align: left;
  font-size: 12px;
}

.eventWhere {
  text-align: left;
  font-size: 12px;
}

.fbLinkMeow {
}

.eventHr {
  border: 1px solid #337ab7;
  max-width: 500px;
}

.pad-15-bot {
  padding-bottom: 15px;
}

.joachimDates {
  font-size: 14px;
}

.joachimList {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;

}

#homeHeading {
  text-shadow: 1px 1px 2px rgba(123, 129, 142, .1), 0 0 15px rgba(123, 129, 142, .1), 0 0 5px rgba(123, 129, 142, .1);
  // text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1)
}

#homeSubHeader {
  text-shadow: 1px 1px 2px rgba(123, 129, 142, .2), 0 0 15px rgba(123, 129, 142, .2), 0 0 5px rgba(123, 129, 142, .2);
}

#partners {
  /*background-color: #337ab7;*/
}

#intro2019 {
  padding-bottom: 0;
}

.fugu-h3 {
 color: #F05F40;
 text-transform: uppercase;
}

.cd-links {
  font-size: 18px;
}