<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" style="color: #222">
        co-incidence festival
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
<!--         <li>
          <a class="page-scroll" href="#about">About</a>
        </li> -->
        <li>
          <a class="" href="/application">APPLICATION</a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Past Seasons
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li>
                    <a class="" href="2019-season">2019 SEASON</a>
                  </li>
                  <li>
                    <a class="" href="2018-season">2018 SEASON</a>
                  </li>
                  <li>
                    <a class="" href="2017-season">2017 SEASON</a>
                  </li>
            </ul>
        </li>

        <li>
          <a class="page-scroll" href="/home/#intro2020">2020 SEASON</a>
        </li>
        
        <!-- <li>
          <a class="page-scroll" href="/home/#describe">Details</a>
        </li> -->
        <li>
          <a class="page-scroll" href="/home/#partners">COLLABORATORS</a>
        </li>

        <!-- <li>
          <a class="page-scroll" href="#application">GUEST ARTISTS</a>
        </li> -->
        <li>
          <a class="page-scroll" href="/home/#about">about</a>
        </li>
        <li>
          <a class="page-scroll fugu-link" href="/home/#logos">support</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- 
<nav id="secondaryNav" class="navbar navbar-default navbar-fixed-top">
  <a href="meow">contribute to our fundraiser</a>
</nav> -->